<div class="container">
<p id="notice"><%= notice %></p>

<h1>Clients</h1>

<table class="table table-striped"> 
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.location %></td>
        <td><%= client.email %></td>
        <td><%= link_to 'Show', client_path(client) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.admin? ||  current_user.ismanager? %>
<%= link_to 'New Client', new_client_path %>
<%  end %>
</div>
