<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @client.location %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<%if current_user.ismanager? || current_user.admin? %><%= link_to 'Edit', edit_client_path(@client) %> |<%end%> <%if current_user.admin? %> <%= link_to 'Destroy', @client, method: :delete, data: { confirm: 'Are you sure?' } %>| <% end %>
<%= link_to 'Back', clients_path %>
</div>
